<div class="col-md-6 mb-3">
  <div class="d-flex align-items-center">
    <i class="bi bi-bed mr-3"></i>
    <div>
      <h6 class="font-weight-bold mb-1 text-muted "><span class="text-muted"><%= room.name %></span></h6>
      <h6 class="font-weight-bold mb-1 text-muted"><span class="badge badge bg-label-info"><%= room.accomodation.titleize %></span> </h6>
    </div>
  </div>
</div>
