 <tr>
  <td class="d-flex align-items-center w-100">
    <img src="<%= avatar(feedback.user) %>" alt="user-avatar" class="d-block flex-shrink-0 rounded-circle me-sm-2 me-0" height="32" width="32">
    <div class="email-list-item-content ms-2 ms-sm-0 me-2">
      <span class="email-list-item-username me-2 h6 <%'d-none' if current_user.landlord? || current_user.admin? %>"><%= feedback.user.fullname %></span>
      <small class="email-list-item-subject d-xl-inline-block d-block"><%= feedback.suggestion %></small>
    </div>
  </td>
  <td>
    <small class="email-list-item-time text-muted"><%= time_ago_in_words(feedback.created_at) %> ago</small>
  </td>
</tr>

