<div class="content-wrapper">
    <div class="container-xxl flex-grow-1 container-p-y">
        <div class="faq-header d-flex flex-column justify-content-center align-items-center h-px-300 position-relative">
        <%= image_tag "header.png", class: "scaleX-n1-rtl faq-banner-img z-n1 rounded", alt: "background image" %>
        <h4 class="text-center mb-2">Hello, how can we help?</h4>
        <% unless current_user.agent? %>
        <p class="text-center mb-4 px-4">or download the user manual below.</p>
        <a href="<% if current_user.landlord? %>
              https://drive.google.com/file/d/1o7T4fqllQNPK0UwEV3FQ9vx-X7DKpLW6/view?usp=drive_link
            <% elsif current_user.admin? %>
              https://drive.google.com/file/d/1EwFaPaf-bZp8nKMPs7cDcIvasLEJB1AC/view?usp=drive_link
            <% elsif current_user.maintenance_staff? || current_user.utility_staff? %>
              https://drive.google.com/file/d/10fiOEhSoB0HMOeDcsO2VvhPi5ajfJz1n/view?usp=drive_link
            <% else %>
              https://drive.google.com/file/d/1LUT8GoK3fxBCul4UnwRYm3R4bHjxRatC/view?usp=drive_link
            <% end %>"
          class="btn btn-primary" target="_blank"><span class="tf-icons bx bx-download bx-18px me-2"></span>Download
        </a>
        <% end %>
        </div>

        <div class="row mt-6">
        <!-- Navigation -->
        <div class="col-lg-3 col-md-4 col-12 mb-md-0 mb-4">
            <div class="d-flex justify-content-between flex-column nav-align-left mb-2 mb-md-0">
            <ul class="nav nav-pills flex-column">
                <li class="nav-item">
                <button class="nav-link active" data-bs-toggle="tab" data-bs-target="#dashboard">
                    <i class="bx bx-tachometer faq-nav-icon me-1_5"></i>
                    <span class="align-middle">Dashboard</span>
                </button>
                </li>

              <% unless current_user.agent? %>
                <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#accounts">
                    <i class="bx bx-group faq-nav-icon me-1_5"></i>
                    <span class="align-middle">Accounts</span>
                </button>
                </li>
                <% if current_user.landlord? %>
                <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#properties">
                    <i class="bx bx-building-house faq-nav-icon me-1_5"></i>
                    <span class="align-middle">Properties</span>
                </button>
                </li>
                <% end %>

                <% unless current_user.maintenance_staff? || current_user.utility_staff? %>
                  <% unless current_user.admin? %>
                    <li class="nav-item">
                    <button class="nav-link" data-bs-toggle="tab" data-bs-target="#ticketing">
                        <i class="bx bx-note faq-nav-icon me-1_5"></i>
                        <span class="align-middle">Ticketing</span>
                    </button>
                    </li>
                  <% end %>
                <li class="nav-item">
                <button class="nav-link" data-bs-toggle="tab" data-bs-target="#billing">
                    <i class="bx bx-money faq-nav-icon me-1_5"></i>
                    <span class="align-middle">Billing</span>
                </button>
                </li>
                <% end %>
              <% end %>
            </ul>
            <div class="d-none d-md-block">
                <div class="my-4 d-flex justify-content-center">
                <%= image_tag "sitting-girl-with-laptop.png", class: "img-fluid", width: "240", alt: "FAQ Image" %>
                </div>
            </div>
            </div>
        </div>
        <!-- /Navigation -->

        <!-- FAQ's -->
        <div class="col-lg-9 col-md-8 col-12">
            <div class="tab-content p-0">
            <div class="tab-pane fade show active" id="dashboard" role="tabpanel">
                <div class="d-flex mb-4 gap-4 align-items-center">
                <div>
                    <span class="badge bg-label-primary rounded w-px-50 py-2">
                    <i class="bx bx-tachometer bx-26px mt-50"></i>
                    </span>
                </div>
                <div>
                    <h5 class="mb-0">
                    <span class="align-middle">Dashboard</span>
                    </h5>
                    <span>Get help on familiarizing the dashboard.</span>
                </div>
                </div>
                <div id="accordionDashboard" class="accordion">
                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="true"
                        data-bs-target="#accordionDashboard-1"
                        aria-controls="accordionDashboard-1">
                        What does "Occupied : Available Bedspaces" mean?
                    </button>
                    </h2>

                    <div id="accordionDashboard-1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Using the ratio, the left side is <span class="text-primary">occupied</span> by tenants while the right side is the bedspaces that are <span class="text-primary">available</span> for rent, which shows the availability of <span class="fw-bold text-primary">upper</span> and <span class="fw-bold text-primary">lower</span> deck as well.
                    </div>
                    </div>
                </div>

                <% if current_user.landlord? || current_user.admin? %>
                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionDashboard-2"
                        aria-controls="accordionDashboard-2">
                        How does the tickets summary calculates the tickets?
                    </button>
                    </h2>
                    <div id="accordionDashboard-2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        It calculates the ticket associated to the user which is the ticket statuses over the sum of total tickets.
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionDashboard-3"
                        aria-controls="accordionDashboard-3">
                        How does the monthly billing calculates the total paid and total payment?
                    </button>
                    </h2>
                    <div id="accordionDashboard-3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        It calculates from all properties and get their sum of total paid and total payment, per type of billing (e.g. water, electricity, Wi-Fi, and rental).
                    </div>
                    </div>
                </div>
                <% end %>
                </div>
            </div>
            <div class="tab-pane fade" id="accounts" role="tabpanel">
                <div class="d-flex mb-4 gap-4">
                <div>
                    <span class="badge bg-label-primary rounded w-px-50 py-2">
                    <i class="bx bx-group bx-26px mt-50"></i>
                    </span>
                </div>
                <div>
                    <h5 class="mb-0">
                    <span class="align-middle">Accounts</span>
                    </h5>
                    <span>Get help about account processes.</span>
                </div>
                </div>
                <div id="accordionAccounts" class="accordion">

                <% if current_user.landlord? || current_user.admin? %>
                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="true"
                        data-bs-target="#accordionAccounts-1"
                        aria-controls="accordionAccounts-1">
                        I accidentally created an account that email doesn't exist. How should I delete it?
                    </button>
                    </h2>

                    <div id="accordionAccounts-1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Deactivate the account first, and contact <a href="https://www.facebook.com/dandee2002" target="_blank">1</a> or <a href="https://www.facebook.com/KiyoScript" target="_blank">2</a> for account deletion.
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionDelivery-2"
                        aria-controls="accordionDelivery-2">
                        What does each account status means?
                    </button>
                    </h2>
                    <div id="accordionDelivery-2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p><span class="badge badge bg-success">Verified</span> User's details is legitimate and can access the RentDito.</p>
                        <p><span class="badge badge bg-danger">Rejected</span> User's details is fake and cannot access the RentDito.</p>
                        <p><span class="badge badge bg-warning">Incomplete</span> User's details is lacking and cannot access the RentDito.</p>
                        <p><span class="badge badge bg-danger">Deactivated</span> User account is unable to access the RentDito. Contact Landlord is required.</p>
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionAccounts-3"
                        aria-controls="accordionAccounts-3">
                        Can I still verify the user if the details are incomplete?
                    </button>
                    </h2>
                    <div id="accordionAccounts-3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Yes. You can still verify the account even the user is lacking details. Just tap the <i class='bx bx-show bx-md' aria-disabled="true"></i> button, and select <span class="badge badge bg-success">Verified</span>.
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionAccounts-4"
                        aria-controls="accordionAccounts-4">
                        How do I transfer a tenant to another room?
                    </button>
                    </h2>
                    <div id="accordionAccounts-4" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Deactivate the account first, and you can proceed to transfer tenant to another room. However, make sure that the tenant has already paid all the remaining bills before transferring.
                    </div>
                    </div>
                </div>
                <% end %>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionAccounts-5"
                        aria-controls="accordionAccounts-5">
                        Can I still update my account even though I am already verified?
                    </button>
                    </h2>
                    <div id="accordionAccounts-5" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Yes. You can still update your account. However, you cannot update your profile picture, first name, last name, date of birth, signature, and valid IDs.
                    </div>
                    </div>
                </div>
                </div>
            </div>

            <% if current_user.landlord? %>
            <div class="tab-pane fade" id="properties" role="tabpanel">
                <div class="d-flex mb-4 gap-4">
                <div>
                    <span class="badge bg-label-primary rounded w-px-50 py-2">
                    <i class="bx bx-building-house bx-26px mt-50"></i>
                    </span>
                </div>
                <div>
                    <h5 class="mb-0"><span class="align-middle">Properties</span></h5>
                    <span>Get help about real estate processes.</span>
                </div>
                </div>
                <div id="accordionProperties" class="accordion">
                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="true"
                        data-bs-target="#accordionProperties-1"
                        aria-controls="accordionProperties-1">
                        Is it safe to delete a property, property unit, or room?
                    </button>
                    </h2>

                    <div id="accordionProperties-1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                       Yes. As long as there are no tenants inside a property, property unit, or room.
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionProperties-2"
                        aria-controls="accordionProperties-2">
                        How to create a property unit?
                    </button>
                    </h2>
                    <div id="accordionProperties-2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        To create a property unit, on a specific property, click the <i class="bx bx-show bx-md"></i> button, and select "New Property Unit".
                    </div>
                    </div>
                </div>
                </div>
            </div>
            <% end %>

            <div class="tab-pane fade" id="ticketing" role="tabpanel">
                <div class="d-flex mb-4 gap-4">
                <div>
                    <span class="badge bg-label-primary rounded w-px-50 py-2">
                    <i class="bx bx-note bx-26px mt-50"></i>
                    </span>
                </div>
                <div>
                    <h5 class="mb-0">
                    <span class="align-middle">Ticketing</span>
                    </h5>
                    <span>Get help about ticketing processes.</span>
                </div>
                </div>
                <div id="accordionTicketing" class="accordion">

                <% if current_user.landlord? %>
                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionTicketing-1"
                        aria-controls="accordionTicketing-1">
                        Can a landlord close the ticket?
                    </button>
                    </h2>
                    <div id="accordionTicketing-1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Yes. Only if the ticket isn't assigned to the staff yet.
                    </div>
                    </div>
                </div>
                <% end %>

                <% if current_user.tenant? %>
                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="true"
                        data-bs-target="#accordionTicketing-2"
                        aria-controls="accordionTicketing-2">
                        I want to submit a ticket regarding "Check Out". Why it needs to be after 15 days from the current date?
                    </button>
                    </h2>

                    <div id="accordionTicketing-2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        The reason tenant should check out after 15 days is for the caretakers to give time to clean the room or bedspaces.
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionTicketing-3"
                        aria-controls="accordionTicketing-3">
                        How to submit a ticket without a photo?
                    </button>
                    </h2>
                    <div id="accordionTicketing-3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        You can submit a ticket without a photo by leaving it blank. However, it is recommended to upload a photo for ticket validity.
                    </div>
                    </div>
                </div>
                <% end %>

                </div>
            </div>
            <div class="tab-pane fade" id="billing" role="tabpanel">
                <div class="d-flex mb-4 gap-4">
                <div>
                    <span class="badge bg-label-primary rounded w-px-50 py-2">
                    <i class="bx bx-money bx-26px mt-50"></i>
                    </span>
                </div>
                <div>
                    <h5 class="mb-0">
                    <span class="align-middle">Billing</span>
                    </h5>
                    <span>Get help about billing processes.</span>
                </div>
                </div>
                <div id="accordionBilling" class="accordion">

                <% if current_user.landlord? || current_user.admin? %>
                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionBilling-1"
                        aria-controls="accordionBilling-1">
                        How to split the sharing to every tenants?
                    </button>
                    </h2>
                    <div id="accordionBilling-1" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        In water and electricity sharing, you can input the number of days for a specific tenant to trigger sharing. Wi-Fi and rental doesn't rely on number of days, thus, they are needed to be manually inputted.
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionBilling-2"
                        aria-controls="accordionBilling-2">
                        How do I notify tenants after creating a billing statement?
                    </button>
                    </h2>
                    <div id="accordionBilling-2" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Select the <i class="bx bx-bell bx-md"></i> button after creating a billing statement. All tenants will be notified from a specific billing statement, either water, electricity, or Wi-Fi and rental.
                    </div>
                    </div>
                </div>
                <% end %>

                <% if current_user.tenant? %>
                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button"
                        type="button"
                        data-bs-toggle="collapse"
                        aria-expanded="true"
                        data-bs-target="#accordionBilling-3"
                        aria-controls="accordionBilling-3">
                        Will I be notified every time the penalty is increasing or the bill is in due date?
                    </button>
                    </h2>

                    <div id="accordionBilling-3" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        <p>Yes, We will send you an email every time your penalty is increasing or the bill is in due date. For instance, in increasing penalty, you have a water charge of ₱50.00.</p>
                        <p>• <span class="text-danger">5%</span> penalty increase on 1 day after due date - ₱50.00 * 1.05 = <span class="text-danger">₱52.50</span></p>
                        <p>• <span class="text-danger">15%</span> penalty increase on 2 to 6 days after due date - ₱50.00 * 1.15 = <span class="text-danger">₱57.50</span></p>
                        <p>• <span class="text-danger">25%</span> penalty increase on 7 to 11 days after due date - ₱50.00 * 1.25 = <span class="text-danger">₱62.50</span></p>
                        <p>• <span class="text-danger">35%</span> penalty increase on 12 to 16 days after due date - ₱50.00 * 1.35 = <span class="text-danger">₱67.50</span></p>
                        The penalty increases 5% every 5 days. Hence, it's better to pay your bills right away to avoid penalties.
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionBilling-4"
                        aria-controls="accordionBilling-4">
                        How to transfer a balance to another tenant?
                    </button>
                    </h2>
                    <div id="accordionBilling-4" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        Simply input the tenant's email address for the balance to be transferred.
                    </div>
                    </div>
                </div>

                <div class="card accordion-item">
                    <h2 class="accordion-header">
                    <button
                        class="accordion-button collapsed"
                        type="button"
                        data-bs-toggle="collapse"
                        data-bs-target="#accordionBilling-5"
                        aria-controls="accordionBilling-5">
                        What payment options are accepted for depositing a balance?
                    </button>
                    </h2>
                    <div id="accordionBilling-5" class="accordion-collapse collapse">
                    <div class="accordion-body">
                        We only accept GCash® send money screenshots as of now. Other payment options will be integrated soon.
                    </div>
                    </div>
                </div>
                <% end %>

                </div>
            </div>
            </div>
        </div>
        <!-- /FAQ's -->
        </div>

        <!-- Contact -->
        <div class="row my-6">
        <div class="col-12 text-center my-6">
            <div class="badge bg-label-primary">Question?</div>
            <h4 class="my-2">You still have a question?</h4>
            <p class="mb-0">
            If you can't find question in our FAQ, you can contact us. We'll answer you shortly!
            </p>
        </div>
        </div>
        <div class="row justify-content-center gap-sm-0 gap-6">
        <div class="col-sm-6">
            <div class="py-6 rounded bg-faq-section text-center">
            <span class="badge bg-label-primary p-2">
                <i class="bx bx-phone bx-26px m-50"></i>
            </span>
            <h5 class="mt-4 mb-1"><a class="text-heading" href="tel:+(63)9366486958">+(63) 936 648 6958</a></h5>
            <p class="mb-0">We are always happy to help</p>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="py-6 rounded bg-faq-section text-center">
            <span class="badge bg-label-primary p-2">
                <i class="bx bxl-facebook bx-26px m-50"></i>
            </span>
            <h5 class="mt-4 mb-1"><a class="text-heading" href="https://www.facebook.com/profile.php?id=100089232990563" target="_blank">Mark Mercado</a></h5>
            <p class="mb-0">Best way to get a quick answer</p>
            </div>
        </div>
        </div>
        <!-- /Contact -->
    </div>

</div>