<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          background-color: #f9f9f9;
          color: #333;
      }
      .container {
          width: 80%;
          margin: auto;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 8px;
          background-color: #fff;
      }
      .header {
          text-align: center;
          padding-bottom: 10px;
          color: #696cff;
      }
      .footer {
          margin-top: 20px;
          font-size: 0.9em;
          color: #777;
      }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/rentdito.png" alt="RentDito Logo" width="100">
    </div>
    <p>Hello <%= @resource.email %>,</p>
    <p>We're contacting you to notify you that your password has been successfully changed.</p>
    <p>If you did not make this change, please contact us immediately to secure your account.</p>
    <div class="footer">
      <p>Thank you,</p>
      <p>The RentDito Team</p>
    </div>
  </div>
</body>
</html>
