<!DOCTYPE html>
<html lang="en">
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <style>
      body {
          font-family: Arial, sans-serif;
          line-height: 1.6;
          background-color: #f9f9f9;
          color: #333;
      }
      .container {
          width: 80%;
          margin: auto;
          padding: 20px;
          border: 1px solid #ddd;
          border-radius: 8px;
          background-color: #fff;
      }
      .header {
          text-align: center;
          padding-bottom: 10px;
          color: #696cff;
      }
      .footer {
          margin-top: 20px;
          font-size: 0.9em;
          color: #777;
      }
      .button {
          display: inline-block;
          margin-top: 20px;
          padding: 10px 15px;
          color: #fff !important;
          background-color: #696cff;
          text-decoration: none;
          border-radius: 5px;
      }
  </style>
</head>
<body>
  <div class="container">
    <div class="header">
      <img src="https://rentdito-images.s3.ap-southeast-2.amazonaws.com/logo.png" alt="RentDito Logo">
    </div>
    <p>Hello <%= @resource.email %>,</p>
    <p>
      Someone has requested a link to change your password. You can reset it by clicking the button below:
    </p>
    <p style="text-align: center;">
      <%= link_to 'Change My Password', edit_password_url(@resource, reset_password_token: @token), class: 'button' %>
    </p>
    <p>
      If you didn’t request this, please ignore this email. Your password won’t change until you access the link and set a new one.
    </p>
    <div class="footer">
      <p>Thank you,</p>
      <p>The RentDito Team</p>
    </div>
  </div>
</body>
</html>
